body {
  max-width: 1920px;
  margin: 0 auto;

  // background-color: $black-color;
  background-color: red;
  color: $primary-text-color;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;

  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1200px;
  width: 100%;

  @media screen and (max-width: $width-tablet) {
    max-width: $width-tablet;
  }

  @media screen and (max-width: $width-mobile) {
    max-width: $width-mobile;
  }
}
