body {
  max-width: 1920px;
  margin: 0 auto;

  background-color: $black-color;

  color: $primary-text-color;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;

  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1200px;
  width: 100%;

  @media screen and (max-width: $width-tablet) {
    max-width: $width-tablet;
  }

  @media screen and (max-width: $width-mobile) {
    max-width: $width-mobile;
  }
}

.accordion {
  cursor: pointer;
  position: relative;
}
.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '';
  position: absolute;
  right: 0;
  width: 18px;
  height: 18px;
  background: url('../images/arrow-ac.svg') no-repeat;
  background-size: cover;
  display: inline-block;

  color: #777;
  margin-left: 5px;
  transform: rotate(180deg);
  transition: transform 0.1s;
}

.active:after {
  transform: rotate(90deg);
}
