%section-title {
  font-size: 40px;
  line-height: 1.05;

  text-align: center;

  @media screen and (max-width: $width-tablet) {
    font-size: 30px;
  }
  @media screen and (max-width: $width-mobile) {
    font-size: 28px;
  }
}

%headline {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 2px;
  text-transform: uppercase;

  @media screen and (max-width: $width-tablet) {
    font-size: 10px;
  }
  @media screen and (max-width: $width-mobile) {
    font-size: 11px;
  }
}

%text {
  font-size: 14px;
  line-height: 1.43;

  color: $secondary-text-color;

  @media screen and (max-width: $width-tablet) {
    font-size: 10px;
  }
  @media screen and (max-width: $width-mobile) {
    font-size: 11px;
  }
}
