%section-title {
  font-size: 40px;
  line-height: 1.05;

  text-align: center;
}

%headline {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 2px;
  text-transform: uppercase;
}

%text {
  font-size: 14px;
  line-height: 1.43;

  color: $secondary-text-color;
}
