.communication {
  padding-top: 115px;
  padding-bottom: 108px;

  @media screen and (max-width: $width-tablet) {
    padding-top: 85px;
    padding-bottom: 80px;
  }
  @media screen and (max-width: $width-mobile) {
    padding-top: 66px;
    padding-bottom: 60px;
  }

  &__container {
    text-align: center;
  }

  &__content {
    max-width: 600px;

    margin: 0 auto;
  }

  &__title {
    @extend %section-title;
    width: 100%;
    margin-bottom: 15px;

    @media screen and (max-width: $width-mobile) {
      margin-bottom: 10px;
    }
  }

  &__text {
    margin-bottom: 21px;

    font-size: 24px;
    line-height: 1.25;

    text-align: center;

    color: $secondary-text-color;

    @media screen and (max-width: $width-tablet) {
      font-size: 21px;
    }
    @media screen and (max-width: $width-mobile) {
      margin-bottom: 25px;
      font-size: 18px;
    }
  }
}
