.customers {
  padding-top: 115px;
  padding-bottom: 93px;

  &__title {
    @extend %section-title;
    margin-bottom: 13px;
  }

  &__text {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 1.25;

    text-align: center;

    color: $secondary-text-color;
  }

  &__list {
    display: flex;
    align-items: center;

    max-width: 1116px;
    width: 100%;
    padding: 42px 20px;
    margin: 0 auto;
  }

  &__item {
    & + & {
      margin-left: 109px;
    }
  }
}
