.tools {
  &__container {
    position: relative;

    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 50%;
    padding: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $width-tablet) {
      padding: 20px;
    }
    @media screen and (max-width: $width-mobile) {
      position: absolute;

      max-width: 400px;
      width: 100%;

      z-index: 3;
    }
  }

  &__wrap {
    max-width: 520px;
    padding-top: 21px;
  }

  &__subtitle {
    @extend %headline;
    margin-bottom: 6px;

    color: $secondary-text-color;
  }

  &__title {
    margin-bottom: 14px;
    font-size: 28px;
    line-height: 1.14;

    @media screen and (max-width: $width-tablet) {
      font-size: 24px;
    }
  }

  &__text {
    @extend %text;
    margin-bottom: 20px;
  }

  &__img-box {
    position: relative;
    width: 50%;

    @media screen and (max-width: $width-mobile) {
      width: 100%;
    }
  }

  &__image {
    min-height: 540px;

    @media screen and (max-width: 1200px) {
      height: 420px;
      object-fit: cover;
      object-position: top center;
    }
    @media screen and (max-width: $width-mobile) {
      filter: brightness(0.6);
    }
  }

  &__list {
    bottom: 41px;
    right: 43px;

    @media screen and (max-width: $width-tablet) {
      bottom: 21px;
      right: 23px;
    }
  }
}
