.work-example {
  position: relative;

  &__image {
    @media screen and (max-width: 1200px) {
      height: 800px;
      object-fit: cover;
      object-position: top center;
    }
    @media screen and (max-width: $width-tablet) {
      height: 550px;
      object-fit: cover;
      object-position: top center;
    }
    @media screen and (max-width: $width-mobile) {
      height: 500px;
    }
  }

  &__content {
    position: absolute;
    bottom: 259px;
    right: 62px;

    max-width: 298px;
    width: 100%;

    z-index: 2;

    @media screen and (max-width: $width-tablet) {
      bottom: 290px;
      max-width: 232px;
    }
    @media screen and (max-width: $width-mobile) {
      bottom: 240px;
      right: 20px;
    }
  }

  &__subtitle {
    @extend %headline;
  }

  &__text {
    @extend %text;
  }

  &__list {
    bottom: 40px;
    right: 44px;

    @media screen and (max-width: $width-tablet) {
      bottom: 22px;
      right: 24px;
    }
  }
}
